/*
  1. Pseudo-classes:
          - Nastavte, aby odkazy změnily barvu na červenou při najetí myší (`:hover`).
          - Nastavte, aby navštívené odkazy měly fialovou barvu (`:visited`).
          - Stylizujte sudé položky seznamu jinou barvou než liché (`:nth-child()`).
          - Zvýrazněte barvu textu vstupního pole (`:focus`).

       2. Pseudo-elements:
          - Přidejte ikonku (například hvězdičku) za nadpis `<h1>` pomocí `::after`.
          - Změňte styl prvního řádku odstavce tak, aby byl tučný (`::first-line`).
          - Zvýrazněte první písmeno odstavce, např. barvou a velikostí (`::first-letter`).

 */

a:hover {
    color: orange;
}

ul:hover li {
    color: red;
}

a:visited {

}


a::before {
    content: "- ";
}

a::after {
    content: " -";
}

p::first-letter {
    font-size: 24px;
}


